.docs-main {
    padding: 50px 20px;
}

.docs-section {
    padding: 30px;
    background-color: var(--bg-secondary);
    border-radius: 20px;
    box-shadow: 0 4px 15px var(--shadow-primary);
    transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}

.docs-section h1.section-title,
.docs-section .section-subtitle {
    margin-bottom: 20px;
    text-align: left;
}

.docs-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.docs-item {
    background-color: var(--bg-primary);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px var(--shadow-secondary);
    transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}


.docs-item h2{
    font-size: 1.8em;
    color: var(--text-color-dark);
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color var(--transition-speed);
}

body.dark-mode .docs-item h2 {
    color: var(--neon-yellow);
    text-shadow: var(--glow-effect);
}

.docs-item h3 {
    font-size: 1.4em;
    color: var(--text-color-dark);
    margin-bottom: 15px;
    text-transform: uppercase;
}

body.dark-mode .docs-item h3 {
    color: var(--clr-dark-accent);
}

.docs-item p,
.docs-item li,
.docs-item dd {
    font-size: 1.1em;
    line-height: 1.6;
    color: var(--text-color-dark);
}

.docs-item ul, .docs-item ol, .docs-item dl {
    margin-left: 25px;
    margin-top: 10px;
}

.docs-item li {
    margin-bottom: 10px;
}

.docs-item a {
    color: var(--text-color-dark);
    text-decoration: none;
    transition: color 0.3s ease;
}

.docs-item a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.requirement-list, .tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.requirement-item, .tech-stack > div {
    flex: 1 1 45%;
    min-width: 250px;
}

.ui-guide pre {
    background-color: var(--bg-secondary);
    padding: 15px;
    border-radius: 10px;
    overflow-x: auto;
}

.ui-guide code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    color: var(--text-color-light);
}

.docs-item dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px 25px;
    margin-top: 20px;
}

.docs-item dt {
    font-weight: bold;
    color: var(--text-color-dark);
    font-size: 1.2em;
    text-transform: uppercase;
}

body.dark-mode .docs-item dt {
    color: var(--clr-dark-accent);
}

.docs-item dd {
    margin: 0;
    font-style: italic;
    color: var(--text-color-light);
}

.docs-index {
    margin-bottom: 40px;
    background-color: var(--bg-primary); 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px var(--shadow-primary);
    border-left: 5px solid var(--accent-color);
    transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}

.docs-index h3 {
    font-size: 1.6em;
    color: var(--text-color-dark);
    margin-bottom: 20px;
    border-bottom: 2px solid var(--text-color-light);
    padding-bottom: 10px;
    font-weight: 600;
}

.docs-index ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.docs-index ul ul {
    margin-left: 15px;
    border-left: 2px dashed var(--text-color-light); 
    padding-left: 15px;
    margin-top: 5px;
}

.docs-index li a {
    display: block;
    padding: 10px 0;
    color: var(--text-color-dark);
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease, transform 0.2s ease;
}

.docs-index li a:hover {
    color: var(--accent-color);
    transform: translateX(5px); 
}

.app-logo-link {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    color: var(--text-color-dark);
    margin-left: 8px;
    transition: color var(--transition-speed);
}
.app-logo-link:hover {
    color: var(--accent-color);
}


.main-nav-docs ul {
    display: flex;
    gap: 20px;
}

.main-nav-docs .nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura el centrado horizontal */
    text-align: center; /* Asegura que el texto dentro del span esté centrado */
    font-size: 0.8em;
    color: var(--text-color-dark);
    transition: color var(--transition-speed);
    text-transform: uppercase;
    font-weight: bold;
}

.main-nav-docs .nav-icon i {
    font-size: 1.5em;
    margin-bottom: 3px;
    transition: color var(--transition-speed);
}

body.dark-mode .main-nav-docs .nav-icon i {
    filter: drop-shadow(0 0 3px var(--neon-blue)) drop-shadow(0 0 6px var(--neon-blue));
    color: var(--neon-blue);
}

.main-nav-docs .nav-icon:hover {
    color: var(--accent-color);
}
.main-nav-docs .nav-icon:hover i {
    color: var(--accent-color);
    filter: none;
}

.main-nav-docs .nav-text-desktop {
    display: block; 
}



